/* general styles */
html, body {
  height: 100%;
  width: 100%;

}

/* padded section */
.pad-section {
  padding: 10px 0;
}
.pad-section img {
  width: 100%;
  
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;

}

/* additional sections */
#home {
  background: url("https://media.licdn.com/media//AAEAAQAAAAAAAAhuAAAAJGE0NGU5OWIxLWRjNTktNGYzOS1hZjJkLTQ3MDMzODFmYzYxZA.jpg") no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
    border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 40px;
  height: 380px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 390px;
  
  
}

#services {
  background-color: #306d9f;
  color: #ffffff;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background:url("http://www.mountainphotography.com/images/large/201108_sawtoothBaronBlue.jpg") no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
}

#google_map {
  height: 460px;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}
div.panel-heading {
    text-align: center;
    font-size: 20px;
}

#button-0 {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Helvetica', cursive;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;  
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

#button-0:hover, 
#button-0:focus {
    text-decoration: none;
    color: #fff;
}

#button-0:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

